In [6]:
# Modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [10]:
# Load data 

x = pd.read_csv("https://machine-failure-data-20230822-craiguo.s3.us-west-2.amazonaws.com/test.csv")

df_test = x
df_test.head(10)

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,136429,L50896,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,136430,L53866,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,136431,L50498,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,136432,M21232,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,136433,M19751,M,303.4,312.3,1515,41.3,114,0,0,0,0,0
5,136434,L49438,L,299.1,308.3,1489,38.2,139,0,0,0,0,0
6,136435,L50286,L,299.8,309.1,1429,39.9,207,0,0,0,0,0
7,136436,L52589,L,302.7,312.4,1540,46.2,17,0,0,0,0,0
8,136437,H37110,H,300.7,311.9,1613,36.0,12,0,0,0,0,0
9,136438,L54886,L,300.5,311.4,1708,32.2,57,0,0,0,0,0

In [9]:
# Load data 

x = pd.read_csv("https://machine-failure-data-20230822-craiguo.s3.us-west-2.amazonaws.com/test.csv")

df_train = x
df_train.head(10)

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,136429,L50896,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,136430,L53866,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,136431,L50498,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,136432,M21232,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,136433,M19751,M,303.4,312.3,1515,41.3,114,0,0,0,0,0
5,136434,L49438,L,299.1,308.3,1489,38.2,139,0,0,0,0,0
6,136435,L50286,L,299.8,309.1,1429,39.9,207,0,0,0,0,0
7,136436,L52589,L,302.7,312.4,1540,46.2,17,0,0,0,0,0
8,136437,H37110,H,300.7,311.9,1613,36.0,12,0,0,0,0,0
9,136438,L54886,L,300.5,311.4,1708,32.2,57,0,0,0,0,0

In [1]:
tree = DecisionTreeClassifier()

NameError: name 'DecisionTreeClassifier' is not defined